<% if @wiki && @wiki.sidebar -%>
  <%= textilizable @wiki.sidebar.content, :text %>
<% end -%>

<h3><%= l(:label_wiki) %></h3>

<% if User.current.allowed_to? :edit_wiki_pages, @project %>
  <%= link_to l('wiki_tabs.create_new_page'), wiki_new_path(:project_id => @project) %><br/>
  <% if @page %>
    <%= link_to l('wiki_tabs.create_child_page'), wiki_new_child_path(:id => @page.title, :project_id => @project) %><br/>
  <% end %>

  <br/><hr/><br/>
<% end %>

<% if @wiki && @wiki.show_default_tab %>
  <%= link_to l(:field_start_page), {:action => 'show', :id => nil} %><br />
<% end %>
<%= link_to l(:label_index_by_title), {:action => 'index'} %><br />
<%= link_to l(:label_index_by_date), {:action => 'date_index'} %><br />
